{% extends 'base.html.twig' %}

{% block title %}Answers
{% endblock %}
{% block body %}
	<br>
	<div class="container">
		<h1 class="text-center">Answer details</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ answer.id }}</td>
				</tr>
				<tr>
					<th>From user:
					</th>
					{% if user.id == answer.fkIdUser.id %}
						<td>{{ user.firstName }}</td>
					{% endif %}
				</tr>
				<tr>
					<th>Title</th>
					<td>{{ answer.title }}</td>
				</tr>
				<tr>
					<th>Created_at</th>
					<td>{{ answer.createdAt ? answer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Text</th>
					<td>{{ answer.text }}</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center">
			<a class="btn btn-primary" href="{{ path('app_questions_index') }}">Back to questions</a>
			{% if is_granted('ROLE_ADMIN') %}
				<a class="btn btn-warning" href="{{ path('app_answers_edit', {'id': answer.id}) }}">Edit</a>
				{{ include('answers/_delete_form.html.twig') }}

			</div>
		{% endif %}
		<div class="text-center d-flex mb-4">
			{% if test2Var %}
				<a class="btn btn-warning" href="{{ path('app_answers_edit', {'id': answer.id}) }}">Edit</a>
				{{ include('answers/_delete_form.html.twig') }}
			{% endif %}
		</div>
	</div>
{% endblock %}
