{% extends 'base.html.twig' %}

{% block title %}Tags index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/css/registerForm.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body %}
    <h1 class="text-center my-4">Tags index</h1>


<div class="container">
 <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.title }}</td>
                <td>{{ tag.description }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('app_tags_edit', {'id': tag.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
   

    <div class="d-flex justify-content-center my-3"><a class="btn btn-primary" href="{{ path('app_tags_new') }}">Create new</a></div>
{% endblock %}
