{% extends 'base.html.twig' %}

{% block title %}Admin Static page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/css/registerForm.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}

<h1 class="text-center my-4">Statistics</h1>
<table class="container border border-fluid w-50">
    <tr>
        <th colspan="2"><h4>Total number of asked Questions:</h4></th>
    </tr>
    <tr>
        <td>Count:</td>
        <td>{{questionCount}}</td>
    </tr>
</table>

<table class="container border border-fluid w-50">
    <tr>
        <th colspan="2"><h4>Total number of Answers:</h4></th>
    </tr>
    <tr>
        <td>Count:</td>
        <td>{{answerCount}}</td>
    </tr>
</table>

<table class="container border border-fluid w-50">
    <tr>
        <th colspan="2"><h4>Total number of Users:</h4></th>
    </tr>
    <tr>
        <td>Count:</td>
        <td>{{userCount}}</td>
    </tr>
</table>

<table class="container border border-fluid w-50">
    <tr>
        <th colspan="2"><h4>User who got the most Votes for all his/her questions</h4></th>
    </tr>
    <tr>
        <td>User ID:</td>
        <td>{{bestUser.id}}</td>
    </tr>
    <tr>
        <td>Total votings for questions/answers:</td>
        <td>{{bestUser.totalVotes}}</td>
    </tr>
    <tr>
        <td>User email:</td>
        <td>{{bestUser.email}}</td>
    </tr>
</table>

<table class="container border border-fluid w-50">
    <tr>
        <th colspan="2"><h4>Best rated Question</h4></th>
    </tr>
    <tr>
        <td>Title of best question:</td>
        <td>{{bestUserQuestion.title}}</td>
    </tr>
    <tr>
        <td>Total voting on best question:</td>
        <td>{{bestUserQuestion.totalVotes}}</td>
    </tr>
    <tr>
        <td>User ID:</td>
        <td>{{bestUserQuestion.id}}</td>
    </tr>
    <tr>
        <td>User Email:</td>
        <td>{{bestUserQuestion.email}}</td>
    </tr>
</table>

<table class="container border border-fluid w-50">
    <tr>
        <th colspan="2"><h4>Best rated Answer</h4></th>
    </tr>
    <tr>
        <td>Title of best answer:</td>
        <td>{{bestUserAnswer.title}}</td>
    </tr>
    <tr>
        <td>Total voting on best answer:</td>
        <td>{{bestUserAnswer.totalVotes}}</td>
    </tr>
    <tr>
        <td>User ID:</td>
        <td>{{bestUserAnswer.id}}</td>
    </tr>
    <tr>
        <td>User Email:</td>
        <td>{{bestUserAnswer.email}}</td>
    </tr>
</table>
<div class="container d-flex justify-content-center"><a href="{{ path('export_route') }}" class="btn btn-primary btn-lg">Export</a></div>
{% endblock %}
