{% extends 'base.html.twig' %}

{% block title %}HomePage!
{% endblock %}

{% block body %}
	<div class="hero">
		<img class="heropic" src="{{ asset('/picture_directory/HomeBaner.jpg') }}" alt="heroBAnner">
		<h1 class="hero-header text-center">
			<em>“Knowledge is the true organ of sight,<br>
				don’t reinvent the wheel“</em>
		</h1>
	</div>
	<br>
	<div class="container">
		<h1 class="text-center">Welcome to StackUnderFlow</h1>
		<br>
		<h3>We are a public platform building the definitive collection of coding questions & answers. A community-based space to find and contribute answers to technical challenges, and one of the most popular websites in the world.</h3>
		<br>
		<div class="container1">
			<div class="item-2">
				<img class="filler2" src="{{ asset('/picture_directory/comunity2.jpeg') }}" alt="filler2">
				<a class="header3" href="{{ path('app_community') }}">JOIN OUR COMUNITY</a>
			</div>
			<div class="item-2">
				<img class="filler2" src="{{ asset('/picture_directory/Q&A1.jpeg') }}" alt="filler2">
				<a class="header3" href="{{ path('app_register') }}">CHECK OUR Q&A's Forum</a>
			</div>
		</div>

		<br>
		<br>
		<br>
		<div class="container2 row row-cols-3">
			<div class="coment">
				<i class="fa-solid fa-quote-left"></i>
				<h3>
					Dive into the World of Coding!</h3>
				<p>Are you ready to embark on an exciting journey into the world of coding? Whether you’re a beginner just starting out or an experienced coder looking to learn a new language, this is the place for you!</p>
			</div>
			<div class="coment">
				<i class="fa-solid fa-quote-left"></i>
				<h3>Why Learn Coding?
				</h3>
				<p>
					Coding is not just about writing lines of code, it’s about solving problems, expressing creativity, and turning ideas into reality. It’s a skill that opens doors to countless opportunities in the digital age. Plus, it’s incredibly fun and rewarding!</p>
			</div>
			<div class="coment">
				<i class="fa-solid fa-quote-left"></i>
				<h3>What Can You Expect Here?</h3>
				<p>This forum is a treasure trove of resources, advice, and support. You’ll find:
																				
																				Tutorials and Guides: From basic syntax to advanced algorithms, we’ve got you covered.
																				Code Reviews: Get constructive feedback on your code from our experienced community members.</p>
			</div>
		</div>
	</div>
{% endblock %}
