{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/userDashboard.css') }}"/>
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Welcome Admin</h1>
		<h2 class="text-center">User dashboard</h2>

		<table class="table table-success table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Email</th>
					<th>Name</th>
					<th>LastName</th>
					<th>GitHub</th>
					<th>Picture</th>
					<th>48hr.banned</th>
					<th>Perm.Banned</th>
					<th>Actions</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.firstName }}</td>
						<td>{{ user.lastName }}</td>
						<td>{{ user.gitHubProfile }}</td>
						<td class="overflow">{{ user.picture }}</td>
						<td class="text-end">
							<a href="{{ path('app_user_ban_48_hours', {'id': user.id}) }}">{{ user.TimedBan ? user.TimedBan.format('Y-m-d H:i:s') : '48hr Ban' }}</a>
						</td>
						<td class="text-center">{{ user.isBanned ? 'Yes' : 'No' }}
							{% if user.isBanned %}
								<a class="btn btn-outline-primary" href="{{ path('app_user_unban', {'id': user.id}) }}">unban</a>
							{% else %}
								<a class="btn btn-outline-danger" href="{{ path('app_user_ban', {'id': user.id}) }}">ban</a>
							{% endif %}
						</td>

						<td class="text-center d-flex">
							<div><a class="btn btn-success" href="{{ path('app_user_show', {'id': user.id}) }}">Details</a></div>
							<div><a class="btn btn-warning" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a></div>
						</td>
						<td class="text">
							<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item/entry?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
								<button class="btn btn-danger">Delete</button>
							</form>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">No records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a class="btn btn-outline-success" href="{{ path('app_user_new') }}">Create a new user</a>
	</div>
{% endblock %}
