{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Welcome Admin</h1>
		<h2 class="text-center">User dashboard</h2>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Email</th>
					<th>FirstName</th>
					<th>LastName</th>
					<th>GitHubProfile</th>
					<th>Picture</th>
					<th>IsBanned</th>
					<th>Actions</th>
					<th>Time of ban</th>

				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.firstName }}</td>
						<td>{{ user.lastName }}</td>
						<td>{{ user.gitHubProfile }}</td>
						<td>{{ user.picture }}</td>
						<td>{{ user.isBanned ? 'Yes' : 'No' }}</td>
						<td>
							<a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
							<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
							{% if user.isBanned %}
								<a href="{{ path('app_user_unban', {'id': user.id}) }}">unban</a>
							{% else %}
								<a href="{{ path('app_user_ban', {'id': user.id}) }}">ban</a>
							{% endif %}
						</td>
						<td>
							<a href="{{ path('app_user_ban_48_hours', {'id': user.id}) }}">{{ user.TimedBan ? user.TimedBan.format('Y-m-d H:i:s') : 'Not Banned' }}</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('app_user_new') }}">Create new</a>
	</div>
{% endblock %}
