{% extends 'base.html.twig' %}

{% block title %}Questions index
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="d-flex justify-content-center m-5">All Questions</h1>
		<div class="m-3 d-flex justify-content-center">
			<a href="{{ path('app_questions_new') }}" class="btn btn-info">Ask Question</a>
		</div>
		<div class="row mx-3">
			<div class="col-sm-6 mb-3 mb-sm-0">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title d-flex justify-content-center mb-4">Frequently searched Tags</h5>
						<div class="row">
							<div class="col-6">
								<ul>
									<li><a href="!Fill in FILTER links" class="mb-2 btn btn-primary btn-sm">CSS</a></li>
									<li><a href="!Fill in FILTER links" class="mb-2 btn btn-primary btn-sm">HTML</a></li>
									<li><a href="!Fill in FILTER links" class="mb-2 btn btn-primary btn-sm">Javascript</a></li>
									<li><a href="!Fill in FILTER links" class="mb-2 btn btn-primary btn-sm">PHP</a></li>
									<li><a href="!Fill in FILTER links" class="mb-2 btn btn-primary btn-sm">Python</a></li>
								</ul>
							</div>
							<div class="col-6">
								<ul>
									<li><a href="!Fill in FILTER links" class="mb-2 btn btn-primary btn-sm">Ajax</a></li>
									<li><a href="!Fill in FILTER links" class="mb-2 btn btn-primary btn-sm">JAVA</a></li>
									<li><a href="!Fill in FILTER links" class="mb-2 btn btn-primary btn-sm">Typescript</a></li>
									<li><a href="!Fill in FILTER links" class="mb-2 btn btn-primary btn-sm">Symfony</a></li>
									<li><a href="!Fill in FILTER links" class="mb-2 btn btn-primary btn-sm">Angular</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title d-flex justify-content-center mb-4">Statistics</h5>
						<p class="card-text">
							<div class="row">
								<div class="col-6">
									<img src="https://cdn.pixabay.com/photo/2013/07/12/14/18/productivity-148197_1280.png" style="width: 250px; height: 195px" alt="">
								</div>
								<div class="col-6">
									<img src="https://cdn.pixabay.com/photo/2013/07/12/14/18/productivity-148197_1280.png" style="width: 250px; height: 195px" alt="">
								</div>
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		{% for question in questions %}
			<div class="card my-3">
				<div class="row">
					<div class="col-1 d-flex flex-column align-items-center justify-content-center">
						<p><img src="/assets/thumbs-up-35.png" href="" alt=""></p>
						<p></p>
						<p><img src="/assets/thumbs-down-35.png" href="" alt=""></p>
					</div>
					<div class="col-11 border-start ps-0">


						<div class="card-header">
							<h2>Topic:
								<a href="{{ path('app_questions_show', {'id': question.id}) }}">{{ question.title }}</a>
							</h2>
						</div>
						<div class="card-body">
							<blockquote class="blockquote mb-0">
								{% for user in users %}
									{% if user.id == question.fkIdUser.id %}
										<p>User:
											{{ user.firstName }}</p>
									{% endif %}
								{% endfor %}
								<p>Description:
									{{ question.text }}</p>
								<hr>
								<div class="row">
									<div class="col-6 footer-card justify-content-start">
										Tags:
										{% for tag in tagQuestionArray %}
											{% if tag.questionid == question.id %}
												{{tag.tagTitle}}

											{% endif %}

											{% else %}No tags added by User
										{% endfor %}
									</div>
									<div class="col-6 footer-card d-flex justify-content-end">{{ question.createdAt ? question.createdAt|date('Y-m-d H:i:s') : '' }}</div>
								</div>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<tr>
				<td colspan="7">no records found</td>
			</tr>

		{% endfor %}
	</div>
	{% if is_granted('ROLE_ADMIN') %}
		<div>
			<a href="{{ path('delete_inactive_questions') }}" class="btn btn-danger">Delete Inactive Questions</a>
		</div>
	{% endif %}
{% endblock %}
