{% extends 'base.html.twig' %}


{% block title %}Question:
	{{ question.title }}
{% endblock %}

{% block body %}
	<br>
	<div class="container">
		<h1 class="d-flex justify-content-center">Question details</h1>

		{# Question Detail #}
		<div class="card my-3 bg-primary">
			{% if question.image is not empty %}
        		<img src="{{ asset('question_images/' ~ question.image) }}" class="card-img-top" alt="{{ question.title }}">
    		{% endif %}
				<div class="row">
					<div class="col-1 d-flex flex-column align-items-center justify-content-center">
						<p>
							<a href="/ratingsquestions/voteg/{{ question.id }}">
								<img src="/assets/thumbs-up-35.png" alt=""></a>
						</p>
						<p></p>
						<p>
							<a href="/ratingsquestions/voteb/{{ question.id }}">
								<img src="/assets/thumbs-down-35.png" alt=""></a>
						</p>
						<p>
							<strong>Rating:
								{{ sum }}</strong>
						</p>


				</div>
				<div class="col-11 border-start ps-0">
					<div class="card-header">
						<h4>{{ question.title }}</h4>
					</div>
					<div class="card-body">
						<blockquote class="blockquote mb-0">
							<p>
								<strong>Your question:
								</strong>
								{{ question.text }}</p>
							<hr>
							<div class="row">
								<div class="col-6 footer-card justify-content-start">
									<strong>Tags:
										{% for tag in tags %}
											
												{{tag}} 


							
										{% endfor %}
									</strong>
								</div>

									<div class="col-6 footer-card d-flex justify-content-end">asked on:
										{{ question.createdAt ? question.createdAt|date('Y-m-d H:i:s') : '' }}</div>
								</div>
							</blockquote>
						</div>
					</div>
				</div>
		</div>
		<div class="text-end">
			<a class="btn btn-primary" href="{{ path('app_questions_index') }}">Back to Questions</a>
			{% if is_granted('ROLE_ADMIN') %}

				<a class="btn btn-warning" href="{{ path('app_questions_edit', {'id': question.id}) }}">Edit</a>
			{% endif %}
			{% if testVar %}
				<a class="btn btn-warning" href="{{ path('app_questions_edit', {'id': question.id}) }}">Edit</a>
			{% endif %}
		</div>
		<form method="post" action="{{ path('app_questions_delete', {'id': question.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
			{% if testVar %}
				<div class="text-end mt-2">
					<button class="btn btn-danger">Delete</button>
				</div>
			{% endif %}

		</form>
		{# Answers #}
		<h1 class="d-flex justify-content-center">Your answers
		</h1>
		{% for answer in answers %}
			<div class="card my-3 bg-warning">
				<div class="row">
					<div class="col-1 d-flex flex-column align-items-center justify-content-center">
						<p>
							<a href="/ratingsanswers/voteg/{{ answer.id }}">
								<img src="/assets/thumbs-up-35.png" alt=""></a>
						</p>
						<p></p>
						<p>
							<a href="/ratingsanswers/voteb/{{ answer.id }}">
								<img src="/assets/thumbs-down-35.png" alt=""></a>
						</p>
						<p>
							<strong>Rating:

								{{ answersum[loop.index0] }}</strong>
						</p>

					</div>
					<div class="col-11 border-start ps-0">
						<div class="card-header">
							<a href="{{ path('app_answers_show', {'id': answer.id}) }}">{{ answer.title }}</a>
						</div>
						<div class="card-body">
							<blockquote class="blockquote mb-0">
								<p>
									<strong>Your answer:
									</strong>
									{{ answer.text }}</p>
								<hr>
								<div class="row">
									<div class="col-6 footer-card justify-content-start">
										<strong># Tags:
										</strong>
									</div>
									<div class="col-6 footer-card d-flex justify-content-end">answered on:
										{{ answer.createdAt ? answer.createdAt|date('Y-m-d H:i:s') : '' }}</div>
								</div>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

		{# Answer button #}
		<div class="d-flex justify-content-center">
			<a href="/answers/new/{{ question.id }}" class="btn btn-info">Post Answer</a>
		</div>
	</div>

{% endblock %}
